<div>
		<p>
	  <strong>Commenter:</strong>
	  <%= comment.commenter %>
	  </p>

	 <p>
	 <strong>Comment:</strong>
	  <%= comment.body %>
	 </p>

	  <%= link_to 'Destroy Comment', [comment.dream, comment],
				  method: :delete,
				  data: { confirm: 'Are you sure?' } %>

  <% from_reply_form ||= nil %>
  <% unless from_reply_form %>
	  <% if comment.leaf? %>
		  <small class = "text-muted"> There are no replies yet - be the first to reply!</small>
		  <% end %>
  <p><%= link_to 'reply', new_comment_path(comment.id) %></p>
	  <% end %>

  <% link_to 'Edit Comment', [comment.dream, comment],
					method: :update %>

         <HR WIDTH="70%" ALIGN="LEFT" COLOR="#ACCEE6">
</div>

<%= comments_tree_for @comments %>
