<%= form_for([@dream, @dream.comments.build]) do |f| %>
  <% if logged_in? then
    usr_name = @current_user.name
  else
    usr_name = "anonymous"
  end %>

  <p>
	<%= f.label :commenter %><br>
	<%= f.text_field :commenter, :readonly => true, :value => usr_name %>
  </p>

  <p>
	<%= f.label :body %><br>
	<%= f.text_area :body, id: "comment_box" %>
  </p>

  <p>
	<%= f.submit id: "create_comment" %>
  </p>
<% end %>

<%# link_to 'Edit Comment', comment_path(@comment), :id => 'edit comment' %>
<!-- <%= link_to 'Back', dream_path, data: {confirm: 'Are you sure? You will lose all your revisions.', id: 'confirm'} %> -->