<div>
  <p>
	<strong>Commenter:</strong>
	<%= subthread.commenter %>
  </p>

  <p>
	<strong>Comment:</strong>
	<%= subthread.body %>
  </p>

  <%= link_to 'Destroy Comment', [subthread.comment.dream, subthread],
			  method: :delete,
			  data: { confirm: 'Are you sure?' } %>

  <HR WIDTH="70%" ALIGN="LEFT" COLOR="#ACCEE6">
</div>

<ol class = "comments">
  <%= render @comments%>
</ol>
<li id= "comment-<%= comment.id %>">
  <%= link_to gravatar_for(subthread.comment, size: 50), subthread.comment %>
  <span class="comment"><%= link_to dream.user.name, dream.user %></span>
  <span class="content"><%= dream.content %></span>
   <span class="timestamp">
      Posted <%= time_ago_in_words(dream.created_at) %> ago.
   </span>
</li>

