<li id= "dream-<%= dream.id %>" class="te">
   <span class="title"><%= link_to dream.user.name, dream.user %>&nbsp;-&nbsp;<%= dream.title %></span>
   <span class="content"><%= dream.content %></span>
   <span class="timestamp">
      Posted <%= time_ago_in_words(dream.created_at) %> ago.
   </span>
</li>
