<li id= "dream-<%= dream.id %>">
   <span class="user"><%= link_to dream.user.name, dream.user %></span>
   <span class="title"><%= dream.title %></span>
   <span class="content"><%= dream.content %></span>
   <span class="timestamp">
      Posted <%= time_ago_in_words(dream.created_at) %> ago.
   </span>
</li>
