<%= form_for @dream do |f| %>


  <% if @dream.errors.any? %>
    <div id="error_explanation">
	  <h2>
		<%= pluralize(@dream.errors.count, "error") %>:
	  </h2>
	  <ul>
		<% @dream.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
			<% end %>
	  </ul>
	</div>
<% end %>

	<p>
	  <%= f.label :"Describe your dream in a few single words:" %><br>
	  <%= f.text_field :title, :id => 'title', size: 30, :class => "tb1" %>
	</p>

	<p>
	  <br><%= f.label :"Tell us about your dream:" %><br>
	  <%= f.text_area :text, :id => 'content', cols: 30, rows:10, :class => "tb1" %><br>

	  Posting as:&nbsp;
		<% if logged_in? then
			usr_name = @current_user.name
                        
		else
			usr_name = "anonymous"
		end %>

	  <%= usr_name %><% if usr_name == "anonymous" then %>,&nbsp;<a href="/login">log in</a>
	  	to post as a user.
	  <% end %>
	</p>

	<%= f.hidden_field :creator, :value => usr_name %>
	<%= f.hidden_field :uprating, :value => 0 %>
	<%= f.hidden_field :downrating, :value => 0 %>
	<p>
	  <%= f.submit 'Create Dream', :id => 'create_dream', class: 'btn btn-primary btn-lg' %>
	  <%= link_to 'Cancel', dreams_path %>
	</p>

<% end %>
