<div class="row">
  <div class="span12">
      <img class="logo img-responsive center-block visible-lg visible-md" src="images/dreamcasters_logo.png" alt="Dreamcasters Logo"/><img class="logo img-responsive center-block visible-sm visible-xs" src="images/dreamcasters_logo_small.png" alt="Dreamcasters Logo (Small)"/>
  </div>
</div>
<div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs12">
        <h1 style="text-align: center"><%= link_to 'New Dream', new_dream_path, :id => 'new_dream', :class => 'btn btn-primary btn-lg' %></h1>
      </div>
</div>

<table class="table table-bordered table-striped" width="100%" border="1" cellspacing="2" cellpadding="5">
<tbody>
  <% if logged_in? %>
    <%= @current_user.name %>
  <% end %>
  <tr>
    <th class="col-lg-2 col-md-2 col-sm-2 col-xs2"><h2><strong>User Name:</strong></h2></th>
    <th class="col-lg-2 col-md-2 col-sm-2 col-xs2"><h2><strong>Rating:</strong></h2></th>
    <th scope="col"><h2><strong>Dream Title:</strong></h2></th>
  </tr>
  <% @dreams.each do |dream| %>
  <tr>
    <td class="attr"><%= dream.creator %></td>
    <td class="attr"><%= dream.uprating - dream.downrating %></td>
    <td><%= link_to dream.title, dream_path(dream),
    :id => dream.title.downcase.gsub(" ", "_") %></td>
  </tr>
  <% end %>
</tbody>
</table>
