<div class="row">
  <div class="span12">
      <img class="logo img-responsive center-block visible-lg visible-md" src="images/dreamcasters_logo.png" alt="Dreamcasters Logo"/><img class="logo img-responsive center-block visible-sm visible-xs" src="images/dreamcasters_logo_small.png" alt="Dreamcasters Logo (Small)"/>
  </div>
</div>
<div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs12">
        <h1 style="text-align: center"><%= link_to 'New Dream', new_dream_path, :id => 'new_dream', :class => 'btn btn-primary btn-lg' %></h1>
      </div>
</div>

<table class="table table-bordered table-striped" width="100%" border="1" cellspacing="2" cellpadding="5">
<tbody>
  <% if logged_in? %>
    <%= @current_user.name %>
  <% end %>

	<% if @dreams.any? %>
		<h4>Here are the dreams containing the term <%= params[:search] %>.</h4>
	<% else %>
		<h4>There are no dreams containing the term <%= params[:search] %>.</h4>
	<% end %>

  <tr>
    <th class="col-lg-2 col-md-2 col-sm-2 col-xs2"><h2><strong>User Name:</strong></h2></th>
    <th class="col-lg-2 col-md-2 col-sm-2 col-xs2"><h2><strong>Rating:</strong></h2></th>
    <th scope="col"><h2><strong>Dream Title:</strong></h2></th>
  </tr>
  <% @dreams.each do |dream| %>
  <tr>
    <td class="attr"><%= dream.creator %></td>

    <td class="attr">
    <% if dream.upvote_count > 0 then %>+<%else%>&nbsp;<%end%><%= dream.upvote_count %>
    <%= link_to "&#9650;".html_safe, upvote_dream_path(dream), :id => "upvote_btn_#{dream.slug}", method: :put %>
    <%= link_to "&#9660;".html_safe, downvote_dream_path(dream), :id => "downvote_btn_#{dream.slug}", method: :put %>
    <% if dream.downvote_count > 0 then %>-<%else%>&nbsp;<%end%><%= dream.downvote_count %></td>

    <td><%= link_to dream.title, dream_path(dream),
    :id => dream.title.downcase.gsub(" ", "_") %></td>
  </tr>
  <% end %>
</tbody>
</table>
