<p>
  <strong>Title:</strong>
  <%= @dream.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @dream.text %>
</p>


  <h2>Comments</h2>
  <%= render @dream.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>


  <div class="btn-group">
  <p style="font-size: 20px;">
  <%= link_to 'Back to Home', dreams_path, :class => 'btn btn-primary btn-lg' %>
  <%= link_to 'Edit Dream', edit_dream_path(@dream), :id => 'edit_dream', :class => 'btn btn-primary btn-lg' %>
  <%= link_to 'Delete Dream', dream_path(@dream), :id => 'delete_dream',
  	method: :delete, data: {confirm: 'Are you sure?', id: 'confirm'},
  	:class => 'btn btn-primary btn-lg' %></p>
  </div>
</div>
</div>
