<!DOCTYPE html>
<html lang="en">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<div class="container">
  <div class="header">
  </div>

  <p><font size="7">The Dream:</font></p>

  <table class="table table-bordered table-striped" width="100%" border="1" cellspacing="2" cellpadding="5">
	<tbody>
	<tr>
	  <td> 	<strong>Title:</strong>
		<%= @dream.title %></td>
	</tr>
	<tr>
	  <td>
		<strong>Text:</strong>
		<%= @dream.text %>
	  </td>
	</tr>
	</tbody>
  </table>



  <p>
	<%= link_to 'Back to Home', dreams_path %>
  </p>

  <p>
	<%= link_to 'Edit Dream', edit_dream_path(@dream) %>
  </p>

  <p>
	<%= link_to 'Delete Dream', dream_path(@dream),
				method: :delete,
				data: {confirm: 'Are you sure?'} %>
  </p>
</div>
</html>

