<h1>Here is the dream:</h1>
<p>
  <strong>Title:</strong>
  <%= @dream.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @dream.text %>
</p>


<p>
  <%= link_to '<button type="button">Back to Home</button>'.html_safe, dreams_path %>
</p>

<p>
  <%= link_to '<button type="button">Edit Dream</button>'.html_safe, edit_dream_path(@dream) %>
</p>

<p>
  <%= link_to '<button type="button">Delete Dream</button>'.html_safe, dream_path(@dream),
			   method: :delete,
			   data: {confirm: 'Are you sure?'} %>
</p>